@charset "utf-8";

body {
    background: black;
    padding: 5% 0;
}

#main-content {
    text-align: center;
}

#footer {
    font-family: 'Helvetica';
    text-align: center;
}

#motto {
    animation: 3s ease-in infinite blink;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

@keyframes blink {
    0% {
        text-shadow: 0 0 0.125em white;
    }
    50% {
        text-shadow: 0 0 1em white;
    }
    100% {
        text-shadow: 0 0 0.125em white;
    }
}
